
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

.light-grey

{color:#000!important;background-color:#f1f1f1!important}

.margin-top{margin-top:16px!important}

.content{max-width:980px;margin:auto}
.third

{float:left;width:100%}
.white

{color:#000!important;background-color:#fff!important}
.text-grey

{color:#757575!important}
.card-4

{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.display-container:hover 
.display-bottomleft{position:absolute;left:0;bottom:0}
.container

{padding:0.01em 16px}
.text-black{color:#000!important}
.margin-right{margin-right:16px!important}
.large{font-size:18px!important}
.text-teal

{color:#009688!important}
.round-xlarge{border-radius:16px}
.center

{display:inline-block;width:100%;text-align: center;}
.teal

{color:#fff!important;background-color:#009688!important}
.twothird,.third

{float:left;width:100%}
.third{width:33.33333%}
.twothird{width:66.66666%}
.card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
.opacity,.hover-opacity

{opacity:0.60}

.margin-bottom{margin-bottom:16px!important}
.margin-top{margin-top:16px!important}

.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,
.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}

.row-padding>.third,.row-padding>.twothird{padding:0 8px}

. bar{width:100%;overflow:hidden}. center . bar{display:inline-block;width:auto}
. bar . bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
. bar . dropdown-hover,. bar . dropdown-click{position:static;float:left}
. bar . button{white-space:normal}
. bar-block . bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
. bar-block. center . bar-item{text-align:center}. block{display:block;width:100%}

. bar:before,. bar:after{content:"";display:table;clear:both}
.wide{letter-spacing:2px}
.top,.bottom{position:fixed;width:100%;z-index:1}.top{top:0}
.right-align{text-align:right!important}

.right{float:right!important}
.hide-small{display:none!important}